.title {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  margin-bottom: 16px;
}

.input {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
