.contact {
  position: relative;
  margin-top: 90px;
  margin-bottom: 90px;
}
.title {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media screen and (max-width: $mantine-breakpoint-md) {
    font-size: 24px;
  }
  @media screen and (max-width: $mantine-breakpoint-sm) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.open {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  @media screen and (max-width: $mantine-breakpoint-sm) {
    font-size: 14px;
  }
}

.line {
  height: 1px;
  flex: 1 0 0;
  background-color: #c778dd;
  margin-top: 5px;
  margin-right: 510px;
  @media screen and (max-width: $mantine-breakpoint-md) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.dots {
  position: absolute;
  display: flex;
  width: 80px;
  height: 103px;
  bottom: 70px;
  left: 0px;
  @media screen and (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.contactText {
  color: light-dark(#000, var(--gray, #abb2bf));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contactItems {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--gray, #abb2bf);
  width: 300px;
  justify-content: center;
  margin-left: 35%;
  @media screen and (max-width: $mantine-breakpoint-md) {
    margin-left: 20%;
    width: 270px;
  }

  @media screen and (max-width: $mantine-breakpoint-sm) {
    margin-left: 0%;
    width: 270px;
  }

  @media screen and (max-width: $mantine-breakpoint-xs) {
    margin-left: 0%;
    width: 300px;
  }
}

.contactTitle {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.contactIcon {
  width: 32px;
  height: 32px;
  fill: light-dark(#000, var(--gray, #abb2bf));
  color: light-dark(#000, var(--gray, #abb2bf));
}

.text {
  color: light-dark(#000, var(--gray, #abb2bf));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
}

.contactText {
  color: light-dark(#000, var(--gray, #abb2bf));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  color: light-dark(#000, var(--gray, #abb2bf));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
