.headerContent {
  padding-top: 32px;
  padding-bottom: 8px;
  background-color: var(--background);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @media screen and (max-width: $mantine-breakpoint-sm) {
    padding-top: 16px;
    padding-bottom: 0px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(#000, var(--mantine-color-gray));
  font-size: 16px;
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    text-decoration: none;
  }

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.linkSocial {
  color: light-dark(#000, #abb2bf); /* El color que desees para el enlace */
  text-decoration: none;
}

.linkSocial:hover {
  color: #a050bb; /* Color al pasar el cursor */
}

.selected {
  color: light-dark(var(--mantine-color-white), #fff);
  background-color: light-dark(var(--mantine-color-gray-0), transparent);
}

.linkSocial > svg {
  width: 54px;
  height: 54px;
}

.spacer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: rem(26px);
  height: rem(26px);
}

.title {
  font-size: 16px;
  font-family: 'Fira Code';
  font-weight: 700;
  word-wrap: break-word;
  color: light-dark(#000, var(--mantine-color-white));
}

a > .almohadilla {
  color: #c778dd;
  font-size: 16px;
  font-family: 'Fira Code';
  font-weight: 500;
  word-wrap: break-word;
  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.drawerContent {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.drawerInner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre el Stack y el Group */
  position: relative;
}

.stack {
  margin-top: 55px;
  display: flex;
  align-items: flex-start; /* Centrar horizontalmente */
  justify-content: flex-start; /* Alinear a la izquierda */
  flex: 1;
}

.burguer {
  border-radius: 5px;
  padding: 0px 0px 0px 6px;
  width: 30px;
  height: 30px;
}
.burguer:hover {
  background-color: rgba(199, 120, 221, 0.5) !important;
}
