.footer {
  border-top: rem(1px) solid #abb2bf;
  padding-top: 32px;
  padding-bottom: 32px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 580px) {
    flex-direction: column;
  }
}

.contentLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.contentLogo img {
  width: rem(26px);
  height: rem(26px);
}

.nameLogo {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.correo {
  margin-left: var(--mantine-spacing-md);
  color: light-dark(#000, var(--mantine-color-black));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
}

.leyend {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-left: 8px;
}

.contentSocial p {
  color: light-dark(#000, var(--mantine-color-white));
  font-family: 'Fira Code';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  margin-bottom: 12px;
  @media screen and (max-width: 580px) {
    text-align: center;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-md);
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: light-dark(#000, var(--mantine-color-black));
  font-family: 'Fira Code';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 48px;
  @media screen and (max-width: 580px) {
    text-align: center;
  }
}

.linkSocial {
  color: light-dark(#000, #abb2bf); /* El color que desees para el enlace */
  text-decoration: none;
}

.linkSocial:hover {
  color: #a050bb; /* Color al pasar el cursor */
}
