*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

.fira-code-normal {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fira-code-italic {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.fira-code-bold {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fira-code-bold-italic {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.fira-code-light {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.fira-code-light-italic {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.fira-code-extra-light {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.fira-code-extra-light-italic {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}
